---
import ThemeToggle from '../components/ThemeToggle.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const defaultLang = 'fr'

const navItems = [

  {
    title: i18n.menu.home,
    label: i18n.menu.home,
    url:  currentLocale === defaultLang ? "/#top" :`/${currentLocale}/#top`,
  },
  {
    title: i18n.menu.experience,
    label: i18n.menu.experience,
    url: currentLocale === defaultLang ? "/#experiencia" : `/${currentLocale}/#experiencia`,
  },
  {
    title: i18n.menu.skills,
    label: i18n.menu.skills,
    url: currentLocale === defaultLang ? "/#habilidades" : `/${currentLocale}/#habilidades`,
  },
  {
    title: i18n.menu.about,
    label: i18n.menu.about,
    url: currentLocale === defaultLang ? "/#sobre-mi" : `/${currentLocale}/#sobre-mi`,
  }
]


---


<header class = "fixed top-0 z-10 flex items-center justify-center py-6 w-full mx-auto mt-2" > 
  <span>
    
  </span>

  <nav
  class="flex gap-x-8 font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
>
  {
    navItems.map((link) => (
      <a
        class="relative block px-2 py-2 transition hover:text-green-800 dark:hover:text-green-200/90"  
        aria-label={link.label}
        href={link.url}
      >
        {link.title}
      </a>
    ))
  }
  <ThemeToggle />
 
  <LanguageSelector />

</nav>

</header>


<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-white/10  bg-white/50 ring-white/10;
    }
  }
</style>